*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #333;
    background-image: linear-gradient(100deg, rgb(255, 255, 152), rgb(255, 204, 110));
}
.title{
    background: rgb(248, 248, 103);
    text-align: center;
    margin-top: 30vh;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}
.number {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    margin: 20px 0px;
}
.all-buttons{
    text-align: center;
    margin-top: 3rem;
}
.all-buttons button{
    letter-spacing: 0.2rem;
    font-size: 1rem;
    margin: 0px 1.5rem;
    border: 2px solid #333;
    background-color: white;
    color: #333;
    padding: 0.6rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.7);
}
.all-buttons button:hover{
    cursor: pointer;
    color: white;
    background-color: #333;
}